# 请记住你是在 docker 容器内开发, 所以你的数据库地址是 mysql, 而不是 localhost 或者 127.0.0.1 切记切记
APP_ENV=dev
APP_SECRET=84df664c26d1c1c29bf9325af99cf101

DATABASE_URL="mysql://root:root@mysql:3306/worldlinklab?serverVersion=8"

MESSENGER_TRANSPORT_DSN=amqp://root:root@rabbitmq:5672/%2f/messages
#MESSENGER_TRANSPORT_DSN=redis://redis:6379/messages

###> symfony/uploads ###
APP_UPLOADS_DIR=/www/public/uploads/
APP_CACHES_DIR=/www/var/cache/image/
APP_EXCEL_CACHES_DIR=/www/var/cache/excel/